<div class="mt-5">
    <h3 class="display-6">Preço Justo</h3>
    <form method="POST" action="/calculator/fair-price">
        <div class="mb-3">
            <div class="mb-3">
                <input type="number" name="maturidade" required class="form-control" placeholder="Maturidade">
            </div>
            <div class="mb-3">
                <input type="number" name="ytm" required class="form-control" placeholder="YTM">
            </div>
            <div class="mb-3">
                <input type="number" name="cupom" required class="form-control" placeholder="Cupom">
            </div>
            <div class="mb-3">
                <input type="number" name="valor_face" required class="form-control" placeholder="Valor de Face">
            </div>
            <div class="mb-3">
                <select class="form-select" id="compounding" required name="compounding">
                    <option selected>Compounding</option>
                    <option value="1">Anual</option>
                    <option value="2">Semi-anual</option>
                    <option value="4">Quadrimestral</option>
                    <option value="12">Mensal</option>
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Calcular</button>
        </div>
    </form>

    {% if preco %}
    <div class="bg-dark border border-2 rounded text-white">
        <div class="m-1 ml-2">
            <div>Preço: {{ preco }}</div>
        </div>
    </div>
    {% endif %}
</div>