{% extends 'base.html' %}

{% block content %}

<div
    class="p-5 text-center bg-image"
    style="
      background-image: url('/static/cars.jpg');
      height: 470px;
      background-repeat: no-repeat;
      background-size: cover;
    "
></div>

<h1 class="display-3">Tipos de Títulos Públicos do Tesouro Direto</h1>


<p>Para ajudar a entender as diferentes características e objetivos dos títulos públicos negociados no Tesouro Direto brasileiro,
    podemos compará-los com diferentes tipos de carros.</p>

<p>Assim como os carros têm suas características únicas, como design, motor, conforto e desempenho,
    cada título público também tem suas particularidades. 
    Alguns são mais conservadores e seguros, assim como carros compactos que oferecem economia e facilidade de manobra.
    Outros são mais arriscados, assim como carros esportivos que podem oferecer alta performance,
    mas também exigem mais habilidade e atenção do motorista.</p>

<p>Para ajudar a entender melhor essas diferenças, podemos listar alguns dos títulos mais comuns do Tesouro Direto:</p>

<ul>
    <li>Tesouro Selic: esse título é como um carro compacto, mais conservador e seguro. Ele é indicado para quem quer investir com baixo risco e ter uma rentabilidade próxima à taxa Selic, que é a taxa básica de juros da economia.</li>
    <li>Tesouro IPCA: esse título é como um carro familiar, mais indicado para quem busca rentabilidade a longo prazo. Ele é corrigido pela inflação, o que garante que o investidor não perca poder de compra ao longo do tempo.</li>
    <li>Tesouro Prefixado: esse título é como um carro esportivo, mais arriscado, mas pode oferecer rentabilidades mais altas. Ele tem uma taxa de juros definida no momento da compra, o que garante uma rentabilidade fixa para o investidor.</li>
    <li>Tesouro Prefixado com Juros Semestrais: esse título é como um carro de luxo, indicado para quem busca rentabilidade a curto prazo. Ele tem uma taxa de juros definida e ainda paga juros semestrais ao investidor.</li>
</ul>

<p>Com essas informações em mente, o investidor pode escolher o título que melhor se adequa às suas necessidades e objetivos financeiros,
    assim como escolher o carro certo para atender às suas necessidades de mobilidade.
    Escolher o título certo no Tesouro Direto pode garantir uma experiência satisfatória e um investimento seguro e rentável,
    assim como escolher o carro certo pode garantir uma experiência agradável e segura ao volante.</p>

</div>
  



{% endblock %}